<section class="min-h-screen text-gray-400 bg-gray-900 body-font font-sans">
  <app-header></app-header>
    <div class="container mx-auto flex px-5 py-14 md:flex-row flex-col items-center">
      <div class="lg:flex-grow flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font text-3xl font-medium text-white">Gestisci clienti e commesse</h1>

        <div class="text-sm text-gray-900 font-light py-4 whitespace-nowrap flex space-x-4">
          <a (click)="setCategory('clients')">
            <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
              Clienti
            </button>
          </a>
          <a (click)="setCategory('sites')">
            <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
              Commesse
            </button>
          </a>
        </div>

      <div class="flex justify-center">
        <div class="container">
          <table *ngIf="category === 'clients'" class="bg-gray-800">
            <thead class="border-b">
            <tr>
              <th class="text-sm font-medium text-gray-400 px-6 py-4 text-left" scope="col">
                Nome
              </th>
              <th class="text-sm font-medium text-gray-400 px-6 py-4 text-left" scope="col">
                Città
              </th>
              <th class="text-sm font-medium text-gray-400 px-6 py-4 text-left" scope="col">
                Indirizzo
              </th>
              <th class="text-sm font-medium text-gray-400 px-6 py-4 text-left" scope="col">
                Email
              </th>
              <th class="text-sm font-medium text-gray-400 px-6 py-4 text-left" scope="col">
                Referente
              </th>
              <th class="text-sm font-medium text-gray-400 px-6 py-4 text-left" scope="col">
                Numero di telefono
              </th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let item of clients;"
                class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['name']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['city']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['address']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['email']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['contact']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['phone_number']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap flex space-x-4">
                <!--<a (click)="editWork(item['Work']['id'])">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Info
                  </button>
                </a>-->
                <a (click)="deleteClient(item['id'])">
                  <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                    Elimina
                  </button>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <table *ngIf="category === 'sites'" class="bg-gray-800">
            <thead class="border-b">
            <tr>
              <th class="text-sm font-medium text-gray-400 px-6 py-4 text-left" scope="col">
                Cliente
              </th>
              <th class="text-sm font-medium text-gray-400 px-6 py-4 text-left" scope="col">
                Codice
              </th>
              <th class="text-sm font-medium text-gray-400 px-6 py-4 text-left" scope="col">
                Descrizione
              </th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let item of sites;"
                class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['Client']['name']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['Site']['code']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['Site']['description']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap flex space-x-4">
                <!--<a (click)="editSite(item['Site']['id'])">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Info
                  </button>
                </a>-->
                <a (click)="deleteSite(item['Site']['id'])">
                  <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                    Elimina
                  </button>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
