<section class="min-h-screen text-gray-400 bg-gray-900 body-font font-sans">
  <app-header></app-header>
  <div class="mx-auto px-5 py-4 flex-col">
    <button
      class="text-purple-500 border border-purple-500 hover:bg-purple-500 hover:text-white active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      (click)="window.history.back()"
    >
      <fa-icon [icon]="fa_arrowLeft"></fa-icon>
      Torna indietro
    </button>
  </div>
  <div class="mx-auto px-5 py-2 flex-col">
    <div class="text-center">
      <h1 class="title-font text-3xl mb-4 font-medium text-white">Gestisci clienti</h1>

      <table [dataSource]="clients" class="mat-elevation-z16 bg-gray-800 border-b"
             mat-table>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>Nome</th>
          <td *matCellDef="let item" mat-cell> {{item['name']}} </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th *matHeaderCellDef mat-header-cell>Sede</th>
          <td *matCellDef="let item"
              mat-cell> {{item['city']}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th *matHeaderCellDef mat-header-cell class="hidden md:table-cell">Indirizzo</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['address']}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Email</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['email']}} </td>
        </ng-container>

        <ng-container matColumnDef="contact">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Referente</th>
          <td *matCellDef="let item" class="hidden md:table-cell" mat-cell> {{item['contact']}} </td>
        </ng-container>

        <ng-container matColumnDef="phone_number">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Telefono</th>
          <td *matCellDef="let item" class="hidden md:table-cell" mat-cell> {{item['phone_number']}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let item" class="space-x-4 whitespace-nowrap" mat-cell>
            <a (click)="editClient(item['id'])">
              <fa-icon [icon]="fa_info"
                       [matTooltipPosition]="position"
                       [size]="fa_size"
                       class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"
                       matTooltip="Info"></fa-icon>
            </a>
            <a (click)="deleteClient(item['id'])">
              <fa-icon [icon]="fa_trash" [size]="fa_size"
                       class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"></fa-icon>
            </a>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="client_columns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: client_columns;" mat-row></tr>
      </table>
    </div>
  </div>
</section>
