<div class="min-h-screen bg-gradient-to-r from-rose-100 to-teal-100">
  <h1 class="text-4xl text-center font-bold text-gray-800 pt-14">Gestione ITW</h1>
  <div class="flex justify-center pt-14">
    <div class="rounded-lg p-6 shadow-lg bg-gray-100">
      <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800">
        Login
      </h5>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="mb-4 text-base text-neutral-600">
          <div class="relative mr-4 w-full">
            <label class="leading-7 text-sm text-gray-400" for="username">username</label>
            <input
              class="h-[42px] w-full rounded border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              formControlName="username" id="username"
              type="text">
          </div>

          <div class="relative mr-4 w-full">
            <label class="leading-7 text-sm text-gray-400" for="password">password</label>
            <input
              class="h-[42px] w-full rounded border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              formControlName="password" id="password"
              type="password">
          </div>
        </div>

        <button [disabled]="loginForm.invalid"
                class="flex-shrink-0 text-white bg-purple-500 border-0 mt-5 py-2 px-6 focus:outline-none hover:bg-purple-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 rounded mt-0"
                type="submit">
          login
        </button>
      </form>
      <div *ngIf="errorMessage">
        <div class="text-red-700 m-2 font-medium leading-tight text-center p-2">
          <p>{{errorMessage}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
