<section class="min-h-screen text-gray-400 bg-gray-900 body-font font-sans">
  <app-header></app-header>
  <div class="mx-auto px-5 py-4 flex-col">
    <button
      class="text-purple-500 border border-purple-500 hover:bg-purple-500 hover:text-white active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      (click)="window.history.back()"
    >
      <fa-icon [icon]="fa_arrowLeft"></fa-icon>
      Torna indietro
    </button>
  </div>
  <form [formGroup]="newPasswordForm">
    <div class="flex mx-auto px-5 py-8 flex-col items-center">
      <h1 class="title-font text-3xl mb-4 font-medium text-white">Cambia password</h1>
      <div class="grid gap-y-4 w-72 mt-6">
        <div class="w-full">
          <label class="leading-7 text-sm text-gray-400" for="old_password">Password attuale</label>
          <input
            class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            formControlName="old_password" id="old_password"
            type="password"
            [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.old_password.errors}">
        </div>

        <div class="w-full">
          <label class="leading-7 text-sm text-gray-400" for="new_password">Nuova password</label>
          <input
            class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            formControlName="new_password" id="new_password"
            type="password"
            [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.new_password.errors}">
        </div>

        <div class="w-full">
          <label class="leading-7 text-sm text-gray-400" for="confirm_password">Conferma password</label>
          <input
            class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            formControlName="confirm_password" id="confirm_password"
            type="password"
            [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.confirm_password.errors}">
        </div>

        <div class="pt-2 w-full">
          <button (click)="submitForm()" class="px-5 py-2.5 relative rounded group text-white font-medium inline-block">
            <span
              class="absolute top-0 left-0 w-full h-full rounded opacity-50 filter blur-sm bg-gradient-to-br from-purple-600 to-blue-500"></span>
            <span
              class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br filter group-active:opacity-0 rounded opacity-50 from-purple-600 to-blue-500"></span>
            <span
              class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm from-purple-600 to-blue-500"></span>
            <span
              class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded bg-gradient-to-br to-purple-600 from-blue-500"></span>
            <span class="relative">Cambia password</span>
          </button>
        </div>
      </div>

      <div class="w-full px-4 py-8 overflow-x-auto text-center whitespace-no-wrap rounded-md" *ngIf="message">
        <div class="inline-flex w-full max-w-sm ml-3 overflow-hidden bg-white rounded-lg shadow-sm">
          <div class="flex items-center justify-center w-12 bg-green-500">
            <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"/>
            </svg>
          </div>
          <div class="px-3 py-2 text-left">
            <span class="font-semibold text-green-500">Modifica password</span>
            <p class="mb-1 text-sm leading-none text-gray-500">{{message}}</p>
          </div>
        </div>
      </div>
      <p *ngIf="message" class="mb-1 text-sm leading-none text-gray-500">Verrai reindirizzato alla pagina di login per
        effettuare di nuovo l'accesso.</p>

      <div class="w-full px-4 py-8 overflow-x-auto text-center whitespace-no-wrap rounded-md" *ngIf="error">
        <div class="inline-flex w-full max-w-sm ml-3 overflow-hidden bg-white rounded-lg shadow-sm">
          <div class="flex items-center justify-center w-12 bg-red-500">
            <fa-icon [icon]="fa_exclamationTriangle" class="text-white"></fa-icon>
          </div>
          <div class="px-4 py-2 text-left">
            <span class="font-semibold text-red-500">Errore</span>
            <p class="mb-1 text-sm leading-none text-gray-500">{{error}}</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
