  <section class="text-gray-400 bg-gray-900 body-font">
<form [formGroup]="newActivityForm" (ngSubmit)="submitForm()">


    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">inserisci nuovo intervento</h1>
        <p class="mb-8 leading-relaxed">aggiungi un nuovo intervento al database aziendale</p>


          <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2">
            <label for="intervention_type" class="leading-7 text-sm text-gray-400">intervention type</label>
            <input type="text" formControlName="intervention_type" id="intervention_type" class="w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>

        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2">
          <label for="intervention_duration" class="leading-7 text-sm text-gray-400">intervention duration</label>
          <input type="time" formControlName="intervention_duration" id="intervention_duration" class="w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2">
          <label for="intervention_location" class="leading-7 text-sm text-gray-400">intervention location</label>
          <input type="text" formControlName="intervention_location" id="intervention_location" class="w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2">
          <label for="date" class="leading-7 text-sm text-gray-400">date</label>
          <input type="date" formControlName="date" id="date" class="w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2">
          <label for="client" class="leading-7 text-sm text-gray-400">client</label>
          <input type="text" formControlName="client" id="client" class="w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2">
          <label for="site" class="leading-7 text-sm text-gray-400">site</label>
          <input type="text" formControlName="site" id="site" class="w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2">
          <label for="description" class="leading-7 text-sm text-gray-400">description</label>
          <input type="text" formControlName="description" id="description" class="w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2">
          <label for="notes" class="leading-7 text-sm text-gray-400">notes</label>
          <input type="text" formControlName="notes" id="notes" class="w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2">
          <label for="trip_kms" class="leading-7 text-sm text-gray-400">trip kms</label>
          <input type="text" formControlName="trip_kms" id="trip_kms" class="w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2">
          <label for="cost" class="leading-7 text-sm text-gray-400">cost</label>
          <input type="text" formControlName="cost" id="cost" class="w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

          <button type="submit" [disabled]="!newActivityForm.valid" class="inline-flex text-white bg-purple-500 border-0 mt-5 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded text-lg">submit</button>

      </div>
    </div>
</form>

<p>form status: {{ newActivityForm.status }}</p>
<p>form value: {{ newActivityForm.value | json }}</p>
  </section>
