<section class="text-gray-400 bg-gray-900 body-font font-sans">
  <form [formGroup]="newActivityForm" (ngSubmit)="submitForm()">

    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">inserisci nuovo intervento</h1>
        <p class="mb-8 leading-relaxed">aggiungi un nuovo intervento al database aziendale</p>

        <div class="relative mr-4 w-full lg:w-1/2">
          <label for="date" class="leading-7 text-sm text-gray-400">date</label>
          <input type="date" formControlName="date" id="date"
                 class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 w-full lg:w-1/2">
          <label for="intervention_location" class="leading-7 text-sm text-gray-400">intervention location</label>
          <select (change)="select($event, 'intervention_location')" id="intervention_location"
                  class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <option *ngFor="let intervention_location of intervention_locations" [value]="intervention_location"
                    class="bg-gray-800">
              {{intervention_location}}
            </option>
          </select>
        </div>

        <div class="relative mr-4 w-full lg:w-1/2">
          <label for="client" class="leading-7 text-sm text-gray-400">client</label>
          <select (change)="select($event, 'client')" id="client"
                  class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <option *ngFor="let client of clients;" [value]="client['name']" class="bg-gray-800">
              {{client['name']}}
            </option>
          </select>
        </div>

        <div class="relative mr-4 w-full lg:w-1/2">
          <label for="intervention_type" class="leading-7 text-sm text-gray-400">intervention type</label>
          <select (change)="select($event, 'intervention_type')" id="intervention_type"
                  class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <option *ngFor="let intervention_type of intervention_types" [value]="intervention_type"
                    class="bg-gray-800">
              {{intervention_type}}
            </option>
          </select>
        </div>

        <div class="relative mr-4 w-full lg:w-1/2">
          <label for="intervention_duration" class="leading-7 text-sm text-gray-400">intervention duration (in hh:mm
            format)</label>
          <input type="text" formControlName="intervention_duration" id="intervention_duration" maxlength="5"
                 class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <div
            *ngIf="newActivityForm.get('intervention_duration')!.invalid && (newActivityForm.get('intervention_duration')!.dirty || newActivityForm.get('intervention_duration')!.touched)">
            <div *ngIf="newActivityForm.get('intervention_duration')!.hasError('required')"
                 class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">this
              field is required.
            </div>
          </div>
        </div>

        <div class="relative mr-4 w-full lg:w-1/2">
          <label for="client" class="leading-7 text-sm text-gray-400">site</label>
          <select (change)="select($event, 'site')" id="site"
                  class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <option value="" disabled selected hidden>choose the site</option>
            <option *ngFor="let site of sites;" [value]="site['name']" class="bg-gray-800">
              {{site['name']}}
            </option>
          </select>
        </div>

        <div class="relative mr-4 w-full lg:w-1/2">
          <label for="description" class="leading-7 text-sm text-gray-400">description</label>
          <input type="text" formControlName="description" id="description"
                 class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 w-full lg:w-1/2">
          <label for="notes" class="leading-7 text-sm text-gray-400">notes</label>
          <input type="text" formControlName="notes" id="notes"
                 class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 w-full lg:w-1/2">
          <label for="trip_kms" class="leading-7 text-sm text-gray-400">trip kms</label>
          <input type="text" formControlName="trip_kms" id="trip_kms"
                 class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 w-full lg:w-1/2">
          <label for="cost" class="leading-7 text-sm text-gray-400">cost</label>
          <input type="text" formControlName="cost" id="cost"
                 class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mr-4 w-full lg:w-1/2">
          <label for="operator_id" class="leading-7 text-sm text-gray-400">operator id</label>
          <input type="number" formControlName="operator_id" id="operator_id"
                 class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <button type="submit" [disabled]="!newActivityForm.valid"
                class="inline-flex text-white bg-purple-500 border-0 mt-5 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded text-lg">
          submit
        </button>

      </div>
    </div>
  </form>

  <p>{{newActivityForm.status}}</p>

  <p>form value: {{ newActivityForm.value | json }}</p>
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow flex flex-col md:items-start md:text-left items-center text-center">
      <table class="bg-gray-800 min-w-full">
        <thead class="border-b">
        <tr>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            #
          </th>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            operator
          </th>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            date
          </th>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            intervention duration
          </th>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            intervention type
          </th>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            intervention location
          </th>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            client
          </th>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            site
          </th>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            description
          </th>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            notes
          </th>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            trip kilometers
          </th>
          <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
            cost
          </th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of work;"
            class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            {{item['Work']['id']}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{item['Operator']['first_name'] + ' ' + item['Operator']['last_name']}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{item['Work']['date']}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{item['Work']['intervention_duration']}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{item['Work']['intervention_type']}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{item['Work']['intervention_location']}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{item['Work']['client']}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{item['Work']['site']}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{item['Work']['description']}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{item['Work']['notes']}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{item['Work']['trip_kms']}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{item['Work']['cost']}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
