<section class="text-gray-400 bg-gray-900 body-font font-sans">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow flex flex-col md:items-start md:text-left items-center text-center">
      <div class="flex justify-center">
        <div class="w-72 sm:w-96">
          <h1 class="title-font text-3xl mb-4 font-medium text-white">Benvenuto {{name}}</h1>
          <a
            routerLink="/add"
            class="block border border-purple-200 mt-5 w-full cursor-pointer rounded-lg p-4 leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10">
            Aggiungi un nuovo intervento
          </a>
          <a
            routerLink="/dashboard"
            class="block border border-purple-200 mt-5 w-full cursor-pointer rounded-lg p-4 leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10">
            Vai alla dashboard
          </a>
        </div>
      </div>

      <button (click)="logout()"
              class="rounded border-2 border-neutral-50 px-7 pt-[10px] pb-[8px] mt-5 text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10">
        logout
      </button>

      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:flex-grow flex flex-col md:items-start md:text-left items-center text-center">
          <h2 class="text-sm text-indigo-400 tracking-widest font-medium title-font mb-1">I tuoi interventi</h2>
          <table class="bg-gray-800 min-w-full">
            <thead class="border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
                Data intervento
              </th>
              <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
                Durata
              </th>
              <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
                Tipo
              </th>
              <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
                Location
              </th>
              <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
                Cliente
              </th>
              <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
                Cantiere
              </th>
              <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
                Descrizione
              </th>
              <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
                Note viaggio
              </th>
              <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
                Kilometri viaggio
              </th>
              <th scope="col" class="text-sm font-medium text-gray-400 px-6 py-4 text-left">
                Costo
              </th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let item of work;"
                class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['date']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['intervention_duration']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['intervention_type']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['intervention_location']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['client']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['site']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['description']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['notes']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['trip_kms']}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{item['cost']}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</section>
