<section class="min-h-screen text-gray-400 bg-gray-900 body-font font-sans">
  <app-header></app-header>
  <div class="mx-auto flex py-4 flex-col items-center">
    <div class="sm:flex sm:items-center sm:text-center">
      <h1 *ngIf="logged_role !== 'admin'" class="title-font text-3xl m-4 font-medium text-white text-center">Gestisci i
        tuoi interventi</h1>
      <h1 *ngIf="logged_role === 'admin'" class="title-font text-3xl m-4 font-medium text-white text-center">Gestisci
        gli interventi dell'azienda</h1>
      <div class="flex justify-center">
        <div class="sm:m-8 mb-4">

          <form *ngIf="logged_role === 'admin'" [formGroup]="adminForm" class="grid grid-cols-1 gap-4 pb-4">
            Filtra per:
            <div>
              <select (change)="select($event, 'operator_id', adminForm)"
                      class="h-[42px] w-[290px] bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option disabled hidden selected value="">Operatore</option>
                <option class="bg-gray-900" value="0">Tutti gli operatori</option>
                <option *ngFor="let operator of operators;" [value]="operator['id']" class="bg-gray-800">
                  {{operator['last_name']}} {{operator['first_name']}}
                </option>
              </select>
            </div>

            <div>
              <select (change)="select($event, 'client_id', adminForm)"
                      class="h-[42px] w-[290px] bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option disabled hidden selected value="">Cliente</option>
                <option class="bg-gray-900" value="0">Tutti i clienti</option>
                <option *ngFor="let client of clients;" [value]="client['id']" class="bg-gray-800">
                  {{client['name']}}
                </option>
              </select>
            </div>

            <div>
              <select (change)="select($event, 'plant_id', adminForm)" [disabled]="!isClientSelected"
                      class="h-[42px] w-[290px] bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option disabled hidden selected value="">Stabilimento</option>
                <option class="bg-gray-900" value="0">Tutti gli stabilimenti</option>
                <option value="c">Commesse</option>
                <option *ngFor="let plant of plants;" [value]="plant['id']" class="bg-gray-800">
                  {{plant['city']}}, {{plant['address']}}
                </option>
              </select>
            </div>

            <div *ngIf="isMachine">
              <select (change)="select($event, 'work_id', adminForm)" [disabled]="isMachinesEmpty"
                      class="h-[42px] w-[290px] bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                      id="work_id">
                <option disabled hidden selected value="">Macchina</option>
                <option selected value="0">Tutte le macchine</option>
                <option *ngFor="let machine of machines;" [value]="machine['id']" class="bg-gray-800">
                  {{machine['code']}} - {{machine['brand']}} {{machine['name']}}
                </option>
              </select>
            </div>

            <div *ngIf="!isMachine">
              <select (change)="select($event, 'work_id', adminForm)" [disabled]="isCommissionsEmpty"
                      class="h-[42px] w-[290px] bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                      id="commission_id">
                <option disabled hidden selected value="">Commessa</option>
                <option *ngFor="let commission of commissions;" [value]="commission['Commission']['id']"
                        class="bg-gray-800">
                  {{commission['Commission']['code']}} - {{commission['Commission']['description']}}
                </option>
              </select>
            </div>
          </form>


          <form *ngIf="filter == 'month' && logged_role === 'admin'" [formGroup]="monthFilterForm">
            <div>
              <select (change)="select($event, 'month', monthFilterForm)"
                      class="h-[42px] w-[290px] bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option disabled hidden selected value="">Mese</option>
                <option class="bg-gray-900" value="0">Sempre</option>
                <option *ngFor="let month of months;" [value]="month" class="bg-gray-800">
                  {{month}}
                </option>
              </select>
            </div>
            <small>
              oppure <a (click)="filter = 'interval'" class="text-gray-400 hover:text-white cursor-pointer">seleziona un
              intervallo di tempo</a>
            </small>
          </form>
          <form *ngIf="filter == 'interval' && logged_role === 'admin'" [formGroup]="intervalFilterForm">
            <div>
              <label class="leading-7 text-sm text-gray-400 float-left" for="start_date">Data inizio</label>
              <div>
                <input (change)="select($event, 'start_date', intervalFilterForm)"
                       class="h-[42px] w-[290px] bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                       id="start_date" placeholder="Data inizio" type="date"></div>
              <label class="leading-7 text-sm text-gray-400 float-left" for="end_date">Data fine</label>
              <div>
                <input (change)="select($event, 'end_date', intervalFilterForm)"
                       class="h-[42px] w-[290px] bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                       id="end_date" label="Data fine" placeholder="Data fine" type="date"></div>
            </div>
            <small>
              oppure <a (click)="filter = 'month'" class="text-gray-400 hover:text-white cursor-pointer">seleziona un
              mese</a>
            </small>
          </form>

          <div class="flex gap-3" *ngIf="logged_role === 'admin'">
            <button [disabled]="reports.length === 0"
                    (click)="exporter.exportTable('csv', {fileName: reports_filename, delimiter: ';'})"
                    class="relative inline-flex items-center justify-center px-6 py-3 mt-6 overflow-hidden font-bold text-white rounded-md shadow-2xl group disabled:text-white disabled:opacity-50 disabled:pointer-events-none disabled:cursor-not-allowed">
              <span
                class="absolute inset-0 w-full h-full transition duration-300 ease-out opacity-0 bg-gradient-to-br from-pink-600 via-purple-700 to-blue-400 group-hover:opacity-100"></span>
              <span
                class="absolute top-0 left-0 w-full bg-gradient-to-b from-white to-transparent opacity-5 h-1/3"></span>
              <span
                class="absolute bottom-0 left-0 w-full h-1/3 bg-gradient-to-t from-white to-transparent opacity-5"></span>
              <span
                class="absolute bottom-0 left-0 w-4 h-full bg-gradient-to-r from-white to-transparent opacity-5"></span>
              <span
                class="absolute bottom-0 right-0 w-4 h-full bg-gradient-to-l from-white to-transparent opacity-5"></span>
              <span class="absolute inset-0 w-full h-full border border-white rounded-md opacity-10"></span>
              <span
                class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-56 group-hover:h-56 opacity-5"></span>
              <span class="relative">Esporta in CSV</span>
            </button>

            <button type="button" *ngIf="loading"
                    class="relative inline-flex items-center justify-center px-6 py-3 mt-6 w-44 overflow-hidden font-bold text-white rounded-md shadow-2xl group cursor-not-allowed pointer-events-none">
              <span
                class="absolute inset-0 w-full h-full transition duration-300 ease-out opacity-0 bg-gradient-to-br from-pink-600 via-purple-700 to-blue-400 group-hover:opacity-100"></span>
              <span
                class="absolute top-0 left-0 w-full bg-gradient-to-b from-white to-transparent opacity-5 h-1/3"></span>
              <span
                class="absolute bottom-0 left-0 w-full h-1/3 bg-gradient-to-t from-white to-transparent opacity-5"></span>
              <span
                class="absolute bottom-0 left-0 w-4 h-full bg-gradient-to-r from-white to-transparent opacity-5"></span>
              <span
                class="absolute bottom-0 right-0 w-4 h-full bg-gradient-to-l from-white to-transparent opacity-5"></span>
              <span class="absolute inset-0 w-full h-full border border-white rounded-md opacity-10"></span>
              <span
                class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-56 group-hover:h-56 opacity-5"></span>
              <svg class="fa-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                   viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
              <span class="relative">
                Caricamento
              </span>
            </button>

            <button [disabled]="reports.length === 0"
                    (click)="printMonthlyReports()"
                    *ngIf="!loading"
                    class="relative inline-flex items-center justify-center px-6 py-3 mt-6 overflow-hidden font-bold text-white rounded-md shadow-2xl group disabled:text-white disabled:opacity-50 disabled:pointer-events-none disabled:cursor-not-allowed">
              <span
                class="absolute inset-0 w-full h-full transition duration-300 ease-out opacity-0 bg-gradient-to-br from-pink-600 via-purple-700 to-blue-400 group-hover:opacity-100"></span>
              <span
                class="absolute top-0 left-0 w-full bg-gradient-to-b from-white to-transparent opacity-5 h-1/3"></span>
              <span
                class="absolute bottom-0 left-0 w-full h-1/3 bg-gradient-to-t from-white to-transparent opacity-5"></span>
              <span
                class="absolute bottom-0 left-0 w-4 h-full bg-gradient-to-r from-white to-transparent opacity-5"></span>
              <span
                class="absolute bottom-0 right-0 w-4 h-full bg-gradient-to-l from-white to-transparent opacity-5"></span>
              <span class="absolute inset-0 w-full h-full border border-white rounded-md opacity-10"></span>
              <span
                class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-56 group-hover:h-56 opacity-5"></span>
              <span class="relative">Esporta in PDF</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center" *ngIf="!error; else e">
      <table [dataSource]="reports" class="mat-elevation-z16 bg-gray-800 border-b" id="table"
             mat-table matTableExporter #exporter="matTableExporter" [hiddenColumns]="[getLastColumn()]">

        <ng-container matColumnDef="operator" *ngIf="logged_role === 'admin'">
          <th *matHeaderCellDef mat-header-cell>Operatore</th>
          <td *matCellDef="let item" mat-cell> {{item['last_name']}} {{item['first_name']}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell>Data</th>
          <td *matCellDef="let item"
              mat-cell> {{item['Report']['date'] | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th *matHeaderCellDef mat-header-cell>Cliente</th>
          <td *matCellDef="let item"
              mat-cell> {{item['client_name']}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Durata</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['Report']['intervention_duration'].replace('.', ',') | slice:0:5}} </td>
        </ng-container>

        <ng-container matColumnDef="intervention_type">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Tipo</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['Report']['intervention_type']}} </td>
        </ng-container>

        <ng-container matColumnDef="machine">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Macchina</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['machine_name']}} </td>
        </ng-container>

        <ng-container matColumnDef="cost_center">
          <th *matHeaderCellDef class="hidden" mat-header-cell>Centro di costo</th>
          <td *matCellDef="let item" class="hidden"
              mat-cell> {{item['cost_center']}} </td>
        </ng-container>

        <ng-container matColumnDef="commission">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Commessa</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['commission_code']}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Location</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['Report']['intervention_location']}} </td>
        </ng-container>

        <ng-container matColumnDef="supervisor">
          <th *matHeaderCellDef class="hidden" mat-header-cell>Supervisore</th>
          <td *matCellDef="let item" class="hidden"
              mat-cell> {{item['Report']['supervisor']}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th *matHeaderCellDef class="hidden" mat-header-cell>Descrizione</th>
          <td *matCellDef="let item" class="hidden"
              mat-cell> {{item['Report']['description'].replace(exp, ' ')}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let item" class="space-x-4 whitespace-nowrap" mat-cell>
            <a (click)="common.printReport(item['Report']['id'])">
              <fa-icon
                [icon]="fa_print"
                [matTooltipPosition]="position"
                [size]="fa_size"
                class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"
                matTooltip="Stampa"></fa-icon>
            </a>
            <a (click)="editReport(item['Report']['id'])">
              <fa-icon [icon]="fa_info"
                       [matTooltipPosition]="position"
                       [size]="fa_size"
                       class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"
                       matTooltip="Info"></fa-icon>
            </a>
            <a (click)="deleteReport(item['Report']['id'])">
              <fa-icon [icon]="fa_trash"
                       [matTooltipPosition]="position"
                       [size]="fa_size"
                       class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"
                       matTooltip="Elimina"></fa-icon>
            </a>
          </td>
        </ng-container>

        <div *ngIf="logged_role === 'admin'">
          <tr *matHeaderRowDef="displayed_columns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayed_columns;" mat-row></tr>
        </div>
        <div *ngIf="logged_role !== 'admin'">
          <tr *matHeaderRowDef="user_columns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: user_columns;" mat-row></tr>
        </div>
      </table>
    </div>
    <ng-template #e>
      <div class="flex flex-col items-center">
        <fa-icon [icon]="fa_exclamation_circle" [size]="fa_size" class="text-red-500"></fa-icon>
        <p class="text-red-500">{{error}}</p>
      </div>
    </ng-template>
  </div>
</section>
