<section class="min-h-screen text-gray-400 bg-gray-900 body-font font-sans">
  <app-header></app-header>
  <div class="mx-auto flex py-4 flex-col items-center">
    <div class="sm:flex sm:items-center sm:text-center">
      <h1 class="title-font text-3xl m-4 font-medium text-white text-center">Gestisci i tuoi interventi</h1>
      <div class="flex justify-center">
        <div class="sm:m-8 mb-4">
          <form [formGroup]="userForm" class="grid grid-cols-1 gap-4 pb-4">
            <div>
              <select (change)="select($event, 'site_id', userForm)"
                      class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option disabled hidden selected value="">Commessa</option>
                <option class="bg-gray-900" value="0">Tutte le commesse</option>
                <option *ngFor="let site of sites;" [value]="site['Site']['id']" class="bg-gray-800">
                  {{site['Site']['code']}} - {{site['Site']['description']}}
                </option>
              </select>
            </div>
          </form>
          <form *ngIf="filter == 'month'" [formGroup]="monthFilterForm">
            <div>
              <select (change)="select($event, 'month', monthFilterForm)"
                      class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option disabled hidden selected value="">Mese</option>
                <option class="bg-gray-900" value="0">Sempre</option>
                <option *ngFor="let month of months;" [value]="month" class="bg-gray-800">
                  {{month}}
                </option>
              </select>
            </div>
            <small>
              oppure <a (click)="filter = 'interval'" class="text-gray-400 hover:text-white cursor-pointer">seleziona un
              intervallo di tempo</a>
            </small>
          </form>
          <form *ngIf="filter == 'interval'" [formGroup]="intervalFilterForm">
            <div class="grid-cols-2">
              <label class="leading-7 text-sm text-gray-400 float-left" for="start_date">Data inizio</label>
              <input (change)="select($event, 'start_date', intervalFilterForm)"
                     class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                     id="start_date" placeholder="Data inizio" type="date">
              <label class="leading-7 text-sm text-gray-400 float-left" for="end_date">Data fine</label>
              <input (change)="select($event, 'end_date', intervalFilterForm)"
                     class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                     id="end_date" label="Data fine" placeholder="Data fine" type="date">
            </div>
            <small>
              oppure <a (click)="filter = 'month'" class="text-gray-400 hover:text-white cursor-pointer">inserisci un
              mese</a>
            </small>
          </form>
          <button (click)="common.printTable()"
                  class="md:visible invisible rounded border-2 border-neutral-50 px-7 pt-[10px] pb-[8px] mt-5 text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10">
            Stampa
          </button>
        </div>
      </div>
    </div>

    <div class="flex justify-center">
      <table *ngIf="!error; else e" [dataSource]="work" class="mat-elevation-z16 bg-gray-800 border-b" id="table"
             mat-table>
        <ng-container matColumnDef="operator">
          <th *matHeaderCellDef mat-header-cell>Operatore</th>
          <td *matCellDef="let item" mat-cell> {{item['last_name']}} {{item['first_name']}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell>Data</th>
          <td *matCellDef="let item"
              mat-cell> {{item['Work']['date'] | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Durata</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['Work']['intervention_duration'] | slice:0:5}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Tipo</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['Work']['intervention_type']}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Location</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['Work']['intervention_location']}} </td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Cliente</th>
          <td *matCellDef="let item" class="hidden md:table-cell" mat-cell> {{item['client_name']}} </td>
        </ng-container>

        <ng-container matColumnDef="site">
          <th *matHeaderCellDef mat-header-cell>Commessa</th>
          <td *matCellDef="let item" mat-cell> {{item['site_description']}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let item" class="space-x-4 whitespace-nowrap" mat-cell>
            <a (click)="editWork(item['Work']['id'])">
              <fa-icon [icon]="fa_info" [size]="fa_size"
                       class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"></fa-icon>
            </a>
            <a (click)="deleteWork(item['Work']['id'])">
              <fa-icon [icon]="fa_trash" [size]="fa_size"
                       class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"></fa-icon>
            </a>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayed_columns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayed_columns;" mat-row></tr>
      </table>
    </div>
    <ng-template #e>
      <div class="flex flex-col items-center">
        <fa-icon [icon]="fa_exclamation_circle" [size]="fa_size" class="text-red-500"></fa-icon>
        <p class="text-red-500">{{error}}</p>
      </div>
    </ng-template>
  </div>
</section>
