<section class="min-h-screen text-gray-400 bg-gray-900 body-font font-sans">
  <app-header></app-header>
  <div class="mx-auto px-5 py-4 flex-col">

    <button
      class="text-purple-500 border border-purple-500 hover:bg-purple-500 hover:text-white active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      (click)="window.history.back()"
    >
      <fa-icon [icon]="fa_arrowLeft"></fa-icon>
      Torna indietro
    </button>
  </div>

  <div class="mx-auto flex py-4 flex-col items-center">
    <div class="sm:flex sm:items-center sm:text-center">
      <h1 *ngIf="logged_role !== 'admin'" class="title-font text-3xl m-4 font-medium text-white text-center">Gestisci i
        tuoi interventi</h1>

      <h1 *ngIf="logged_role === 'admin'" class="title-font text-3xl m-4 font-medium text-white text-center">Gestisci
        gli interventi dell'azienda
        <div *ngIf="!isMobile">
          <ng-container *ngTemplateOutlet="search"></ng-container>
        </div>
      </h1>

      <div *ngIf="logged_role === 'admin'" class="flex justify-center">
        <div class="sm:m-8 mb-4">
          <form *ngIf="logged_role === 'admin'" [formGroup]="adminForm" class="grid grid-cols-1 gap-4 pb-4">
            Filtra per:
            <div>
              <select (change)="select($event, 'operator_id', adminForm)"
                      class="h-[42px] sm:w-[290px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option class="bg-gray-800" disabled hidden selected value="">Operatore</option>
                <option class="bg-gray-800" value="0">Tutti gli operatori</option>
                <option *ngFor="let operator of operators;" [value]="operator['id']" class="bg-gray-800">
                  {{operator['last_name']}} {{operator['first_name']}}
                </option>
              </select>
            </div>

            <div>
              <select (change)="select($event, 'client_id', adminForm)"
                      class="h-[42px] sm:w-[290px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option class="bg-gray-800" disabled hidden selected value="">Cliente</option>
                <option class="bg-gray-800" value="0">Tutti i clienti</option>
                <option *ngFor="let client of clients;" [value]="client['id']" class="bg-gray-800">
                  {{client['name']}}
                </option>
              </select>
            </div>

            <div>
              <select (change)="select($event, 'plant_id', adminForm)"
                      class="h-[42px] sm:w-[290px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option class="bg-gray-800" disabled hidden selected value="">Stabilimento</option>
                <option class="bg-gray-800" value="0">Tutti gli stabilimenti</option>
                <option class="bg-gray-800" value="c">Commesse</option>
                <option *ngFor="let plant of plants;" [value]="plant['id']" class="bg-gray-800">
                  {{plant['city']}}, {{plant['address']}}
                </option>
              </select>
            </div>

            <div *ngIf="isMachine">
              <select (change)="select($event, 'work_id', adminForm)" [disabled]="isMachinesEmpty"
                      class="h-[42px] sm:w-[290px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                      id="work_id">
                <option class="bg-gray-800" disabled hidden selected value="">Macchina</option>
                <option class="bg-gray-800" value="0">Tutte le macchine</option>
                <option *ngFor="let machine of machines;" [value]="machine['id']" class="bg-gray-800">
                  {{machine['code']}} - {{machine['brand']}} {{machine['name']}}
                </option>
              </select>
            </div>

            <div *ngIf="!isMachine">
              <select (change)="select($event, 'work_id', adminForm)" [disabled]="isCommissionsEmpty"
                      class="h-[42px] sm:w-[290px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                      id="commission_id">
                <option class="bg-gray-800" disabled hidden selected value="0">Commessa</option>
                <option class="bg-gray-800" value="0">Tutte le commesse</option>
                <option *ngFor="let commission of commissions;" [value]="commission['Commission']['id']"
                        class="bg-gray-800">
                  {{commission['Commission']['code']}} - {{commission['Commission']['description']}}
                </option>
              </select>
            </div>
          </form>

          <form *ngIf="filter == 'month' && logged_role === 'admin'" [formGroup]="monthFilterForm">
            <div>
              <select (change)="select($event, 'month', monthFilterForm)"
                      class="h-[42px] sm:w-[290px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option class="bg-gray-800" disabled hidden selected value="">Mese</option>
                <option class="bg-gray-800" value="0">Sempre</option>
                <option *ngFor="let month of months;" [value]="month" class="bg-gray-800">
                  {{month}}
                </option>
              </select>
            </div>
            <small>
              oppure <a (click)="filter = 'interval'" class="text-gray-400 hover:text-white cursor-pointer">seleziona un
              intervallo di tempo</a>
            </small>
          </form>
          <form *ngIf="filter == 'interval' && logged_role === 'admin'" [formGroup]="intervalFilterForm">
            <div class="flex flex-col justify-center sm:items-center">
              <label class="leading-7 text-sm text-gray-400 float-left" for="start_date">Data inizio</label>
              <div>
                <input (change)="select($event, 'start_date', intervalFilterForm)"
                       class="h-[42px] sm:w-[290px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                       id="start_date" placeholder="Data inizio" type="date"></div>
              <label class="leading-7 text-sm text-gray-400 float-left" for="end_date">Data fine</label>
              <div>
                <input (change)="select($event, 'end_date', intervalFilterForm)"
                       class="h-[42px] sm:w-[290px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                       id="end_date" label="Data fine" placeholder="Data fine" type="date"></div>
            </div>
            <small>
              oppure <a (click)="filter = 'month'" class="text-gray-400 hover:text-white cursor-pointer">seleziona un
              mese</a>
            </small>
          </form>

          <div class="flex gap-3" *ngIf="logged_role === 'admin'">
            <button (click)="printCsv()" [disabled]="reports.length == 0"
                    [ngClass]="loadingPdf || reports.length == 0 ? 'cursor-not-allowed bg-opacity-50 bg-gray-800 pointer-events-none' : 'cursor-pointer'"
                    class="relative inline-flex items-center justify-center px-6 py-3 mt-6 w-44 overflow-hidden font-bold text-white rounded-md shadow-2xl group">
              <span
                class="absolute inset-0 w-full h-full transition duration-300 ease-out opacity-0 bg-gradient-to-br from-pink-600 via-purple-700 to-blue-400 group-hover:opacity-100"></span>
              <span
                class="absolute top-0 left-0 w-full bg-gradient-to-b from-white to-transparent opacity-5 h-1/3"></span>
              <span
                class="absolute bottom-0 left-0 w-full h-1/3 bg-gradient-to-t from-white to-transparent opacity-5"></span>
              <span
                class="absolute bottom-0 left-0 w-4 h-full bg-gradient-to-r from-white to-transparent opacity-5"></span>
              <span
                class="absolute bottom-0 right-0 w-4 h-full bg-gradient-to-l from-white to-transparent opacity-5"></span>
              <span class="absolute inset-0 w-full h-full border border-white rounded-md opacity-10"></span>
              <span
                class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-56 group-hover:h-56 opacity-5"></span>
              <span class="relative">Esporta CSV</span>
            </button>

            <button type="button" [disabled]="reports.length == 0"
                    (click)="printPdf()"
                    [ngClass]="loadingPdf || reports.length == 0 ? 'cursor-not-allowed bg-opacity-50 bg-gray-800 pointer-events-none' : 'cursor-pointer'"
                    class="relative inline-flex items-center justify-center px-6 py-3 mt-6 w-44 overflow-hidden font-bold text-white rounded-md shadow-2xl group">
              <span
                class="absolute inset-0 w-full h-full transition duration-300 ease-out opacity-0 bg-gradient-to-br from-pink-600 via-purple-700 to-blue-400 group-hover:opacity-100"></span>
              <span
                class="absolute top-0 left-0 w-full bg-gradient-to-b from-white to-transparent opacity-5 h-1/3"></span>
              <span
                class="absolute bottom-0 left-0 w-full h-1/3 bg-gradient-to-t from-white to-transparent opacity-5"></span>
              <span
                class="absolute bottom-0 left-0 w-4 h-full bg-gradient-to-r from-white to-transparent opacity-5"></span>
              <span
                class="absolute bottom-0 right-0 w-4 h-full bg-gradient-to-l from-white to-transparent opacity-5"></span>
              <span class="absolute inset-0 w-full h-full border border-white rounded-md opacity-10"></span>
              <span
                class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-56 group-hover:h-56 opacity-5"></span>
              <svg *ngIf="loadingPdf" class="fa-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
              <span class="relative" *ngIf="loadingPdf">
                Caricamento
              </span>
              <span class="relative" *ngIf="!loadingPdf">
                Esporta PDF
              </span>
            </button>

          </div>
          <div @fade *ngIf="adminForm.value.plant_id !== 'c' && logged_role === 'admin'" class="pt-3">
            Verrano esportati solo gli interventi su <span class="text-purple-500">macchine</span>!
          </div>
          <div @fade *ngIf="adminForm.value.plant_id === 'c' && logged_role === 'admin'" class="pt-3">
            Verrano esportate solo le <span class="text-purple-500">commesse</span>!
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isMobile" class="w-auto">
      <ng-container *ngTemplateOutlet="search"></ng-container>
    </div>

    <div class="flex justify-center" *ngIf="!error; else e">
      <table [dataSource]="reports" class="mat-elevation-z16 bg-gray-800 border-b" id="table" mat-table>

        <ng-container matColumnDef="operator" *ngIf="logged_role === 'admin'">
          <th *matHeaderCellDef mat-header-cell>Operatore</th>
          <td *matCellDef="let item" mat-cell> {{item['last_name']}} {{item['first_name']}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell>Data</th>
          <td *matCellDef="let item"
              mat-cell> {{item['Report']['date'] | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th *matHeaderCellDef mat-header-cell>Cliente</th>
          <td *matCellDef="let item"
              mat-cell> {{item['client_name']}} </td>
        </ng-container>

        <ng-container matColumnDef="plant">
          <th *matHeaderCellDef mat-header-cell class="hidden md:table-cell">Stabilimento</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['plant_city'] ? (item['plant_city'] + ', ' + item['plant_address']) : ''}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Durata</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['Report']['intervention_duration'].replace('.', ',') | slice:0:5}} </td>
        </ng-container>

        <ng-container matColumnDef="intervention_type">
          <th *matHeaderCellDef class="hidden xl:table-cell" mat-header-cell>Tipo</th>
          <td *matCellDef="let item" class="hidden xl:table-cell"
              mat-cell> {{item['Report']['intervention_type']}} </td>
        </ng-container>

        <ng-container matColumnDef="machine">
          <th *matHeaderCellDef class="hidden xl:table-cell" mat-header-cell>Macchina</th>
          <td *matCellDef="let item" class="hidden xl:table-cell"
              mat-cell> {{item['machine_name']}} </td>
        </ng-container>

        <ng-container matColumnDef="cost_center">
          <th *matHeaderCellDef class="hidden" mat-header-cell>Centro di costo</th>
          <td *matCellDef="let item" class="hidden"
              mat-cell> {{item['cost_center']}} </td>
        </ng-container>

        <ng-container matColumnDef="commission">
          <th *matHeaderCellDef class="hidden xl:table-cell" mat-header-cell>Commessa</th>
          <td *matCellDef="let item" class="hidden xl:table-cell"
              mat-cell> {{item['commission_code']}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th *matHeaderCellDef class="hidden md:table-cell" mat-header-cell>Location</th>
          <td *matCellDef="let item" class="hidden md:table-cell"
              mat-cell> {{item['Report']['intervention_location']}} </td>
        </ng-container>

        <ng-container matColumnDef="supervisor">
          <th *matHeaderCellDef class="hidden" mat-header-cell>Supervisore</th>
          <td *matCellDef="let item" class="hidden"
              mat-cell> {{item['Report']['supervisor']}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th *matHeaderCellDef class="hidden" mat-header-cell>Descrizione</th>
          <td *matCellDef="let item" class="hidden"
              mat-cell> {{item['Report']['description'].replace(exp, ' ')}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let item" mat-cell>
            <button [matMenuTriggerFor]="menu" *ngIf="isMobile">
              <fa-icon
                [icon]="fa_down"
                [size]="fa_size"
                class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"></fa-icon>
            </button>
            <mat-menu #menu="matMenu" class="menu">
              <button mat-menu-item (click)="sendEmail(item['Report']['id'], item['Report']['supervisor_id'])">
                <div class="space-x-2">
                  <span [textContent]="item['Report']['email_date'] ? 'Reinvia' : 'Invia'"></span>
                </div>
              </button>
              <button mat-menu-item (click)="common.printReport(item['Report']['id'])">
                <div class="space-x-2">
                  <span>Stampa</span>
                </div>
              </button>
              <button mat-menu-item (click)="editReport(item['Report']['id'])">
                <div class="space-x-2">
                  <span>Modifica</span>
                </div>
              </button>
              <button mat-menu-item (click)="deleteReport(item['Report']['id'])">
                <div class="space-x-2">
                  <span>Elimina</span>
                </div>
              </button>
            </mat-menu>

            <div class="space-x-3 whitespace-nowrap" *ngIf="!isMobile">
              <a (click)="sendEmail(item['Report']['id'], item['Report']['supervisor_id'])">
                <fa-icon
                  [icon]="fa_mail"
                  [matTooltipPosition]="position"
                  [size]="fa_size"
                  [ngClass]="item['Report']['email_date'] ? 'opacity-25 hover:opacity-75' : ''"
                  class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"
                  [matTooltip]="item['Report']['email_date'] ? 'Reinvia' : 'Invia'"></fa-icon>
              </a>
              <a (click)="common.printReport(item['Report']['id'])">
                <fa-icon
                  [icon]="fa_print"
                  [matTooltipPosition]="position"
                  [size]="fa_size"
                  class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"
                  matTooltip="Stampa"></fa-icon>
              </a>
              <a (click)="editReport(item['Report']['id'])">
                <fa-icon [icon]="fa_info"
                         [matTooltipPosition]="position"
                         [size]="fa_size"
                         class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"
                         matTooltip="Info"></fa-icon>
              </a>
              <a (click)="deleteReport(item['Report']['id'])">
                <fa-icon [icon]="fa_trash"
                         [matTooltipPosition]="position"
                         [size]="fa_size"
                         class="cursor-pointer transition duration-150 ease-in-out hover:bg-opacity-10 hover:text-neutral-100"
                         matTooltip="Elimina"></fa-icon>
              </a>
            </div>
          </td>
        </ng-container>
        <div *ngIf="logged_role === 'admin'">
          <tr *matHeaderRowDef="displayed_columns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayed_columns;" mat-row></tr>
        </div>
        <div *ngIf="logged_role !== 'admin'">
          <tr *matHeaderRowDef="user_columns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: user_columns;" mat-row></tr>
        </div>
      </table>
    </div>
  </div>
</section>

<ng-template #e>
  <div class="flex flex-col items-center">
    <fa-icon [icon]="fa_exclamation_circle" [size]="fa_size" class="text-red-500"></fa-icon>
    <p class="text-red-500">{{error}}</p>
  </div>
</ng-template>

<ng-template #search>
  <form (ngSubmit)="searchReports()" [formGroup]="searchForm">
    <div class="relative mx-auto w-full px-8 py-4">
      <input
        class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out placeholder-gray-500"
        formControlName="search" id="search" placeholder="Cerca" maxlength="45"
        type="text">
      <button type="submit" class="absolute right-0 top-0 mr-10" [ngClass]="isMobile ? 'mt-[30px]' : 'mt-8'">
        <svg class="text-gray-600 h-4 w-4 fill-current" viewBox="0 0 56.966 56.966">
          <path
            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
        </svg>
      </button>
    </div>
  </form>
</ng-template>
