<section class="text-gray-400 bg-gray-900 body-font font-sans">
  <app-header></app-header>
  <div class="mx-auto px-5 py-4 flex-col">
    <button
      class="text-purple-500 border border-purple-500 hover:bg-purple-500 hover:text-white active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      (click)="window.history.back()"
    >
      <fa-icon [icon]="fa_arrowLeft"></fa-icon>
      Torna indietro
    </button>
  </div>
  <form (ngSubmit)="submitForm()" [formGroup]="reportForm">
    <div class="container mx-auto flex px-5 md:flex-row flex-col items-center">
      <div class="lg:flex-grow flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Inserisci un nuovo intervento</h1>
        <p class="mb-8 leading-relaxed">Aggiungi un nuovo intervento al database aziendale</p>

        <div class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="client_id">Cliente</label>
          <select (change)="select($event, 'client_id')"
                  class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  id="client_id"
                  [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.client_id.errors}">
            <option disabled hidden selected value="">Seleziona il cliente</option>
            <option *ngFor="let client of clients;" [value]="client['id']" class="bg-gray-800">
              {{client['name']}} {{client['city']}}
            </option>
          </select>
        </div>

        <div class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="plant_id">Stabilimento</label>
          <select (change)="select($event, 'plant_id')" [disabled]="!isClientSelected"
                  class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  id="plant_id"
                  [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.plant_id.errors || form.plant_id.value == '0'}">
            <option disabled hidden selected value="">Seleziona lo stabilimento</option>
            <option value="c">Commessa</option>
            <option *ngFor="let plant of plants;" [value]="plant['id']" class="bg-gray-800">
              {{plant['city']}}, {{plant['address']}}
            </option>
          </select>
        </div>

        <div *ngIf="isMachine" class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="work_id">Macchina</label>
          <select (change)="select($event, 'work_id')" [disabled]="isMachinesEmpty"
                  class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  id="work_id"
                  [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.work_id.errors || form.work_id.value == '0'}">
            <option disabled hidden selected value="">Seleziona la macchina</option>
            <option *ngFor="let machine of machines;" [value]="machine['id']" class="bg-gray-800">
              {{machine['code']}} - {{machine['brand']}} {{machine['name']}}
            </option>
          </select>
        </div>

        <div *ngIf="!isMachine" class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="commission_id">Commessa</label>
          <select (change)="select($event, 'work_id')" [disabled]="isCommissionsEmpty"
                  class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  id="commission_id"
                  [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.work_id.errors}">
            <option disabled hidden selected value="">Seleziona la commessa</option>
            <option *ngFor="let commission of commissions;" [value]="commission['Commission']['id']"
                    class="bg-gray-800">
              {{commission['Commission']['code']}} - {{commission['Commission']['description']}}
            </option>
          </select>
        </div>

        <div class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="date">Data</label>
          <input
            class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            formControlName="date" id="date"
            type="date"
            [max]="today"
            [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.date.errors || submitted && form.date.value! > today}">
        </div>

        <div class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="intervention_location">Location</label>
          <select (change)="select($event, 'intervention_location')"
                  class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  id="intervention_location"
                  [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.intervention_location.errors}">
            <option disabled hidden selected value="">Seleziona la location</option>
            <option *ngFor="let intervention_location of intervention_locations;"
                    [value]="intervention_location['name']" class="bg-gray-800">
              {{intervention_location['name']}}
            </option>
          </select>
        </div>

        <div class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="intervention_type">Tipo</label>
          <select (change)="select($event, 'intervention_type')"
                  class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  id="intervention_type"
                  [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.intervention_type.errors}">
            <option disabled hidden selected value="">Seleziona il tipo di intervento</option>
            <option *ngFor="let intervention_type of intervention_types" [value]="intervention_type['name']"
                    class="bg-gray-800">
              {{intervention_type['name']}}
            </option>
          </select>
        </div>

        <div class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="intervention_duration">Durata (in ore)</label>
          <input
            class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            formControlName="intervention_duration" id="intervention_duration"
            type="text" maxlength="4"
            [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && !isDurationValid(reportForm.value.intervention_duration!)}">
          <p class="text-red-500"
             *ngIf="submitted && !isDurationValid(reportForm.value.intervention_duration!)">{{duration_error}}</p>
        </div>

        <div class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="supervisor">Supervisore</label>
          <input
            class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            formControlName="supervisor" id="supervisor"
            type="text"
            [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.supervisor.errors}">
          <p class="text-red-500"
             *ngIf="submitted && form.supervisor.errors">Questo campo è obbligatorio.</p>
        </div>

        <div class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="description">Descrizione</label>
          <textarea
            class="h-[142px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            formControlName="description" id="description"
            type="text"
            [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.description.errors}">
          </textarea>
          <p class="text-red-500"
             *ngIf="submitted && form.description.errors">Questo campo è obbligatorio.</p>
        </div>

        <div class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="notes">Note viaggio (facoltativo)</label>
          <input
            class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            formControlName="notes" id="notes"
            type="text">
        </div>

        <div class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="trip_kms">Kilometri viaggio (facoltativo)</label>
          <input
            class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            formControlName="trip_kms" id="trip_kms"
            type="text">
        </div>

        <div class="relative w-full lg:w-1/2">
          <label class="leading-7 text-sm text-gray-400" for="cost">Costo viaggio (facoltativo)</label>
          <input
            class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            formControlName="cost" id="cost"
            type="text">
        </div>

        <button
          class="inline-flex text-white bg-purple-500 border-0 mt-5 py-2 px-6 hover:bg-purple-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 rounded text-lg"
          type="submit">
          Aggiungi
        </button>

        <div *ngIf="message"
             class="text-white px-6 py-4 mt-5 border-0 rounded relative mb-4 bg-green-500 w-full lg:w-1/2">
          <span class="inline-block align-middle mr-8">
            {{message}}
          </span>
        </div>

      </div>
    </div>
  </form>
</section>

<section *ngIf="error" class="text-gray-400 bg-gray-900 body-font font-sans">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Qualcosa è andato storto.</h1>
      <p class="mb-8 leading-relaxed">{{error.statusText}}</p>
    </div>
  </div>
</section>
