<h2 mat-dialog-title>{{ data.title }}</h2>
<div mat-dialog-content>
  <form [formGroup]="editMachineForm">
    <label class="leading-7 text-sm text-gray-400" for="client_id">Cliente</label>
    <select (change)="select($event, 'client_id')"
            class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            id="client_id"
            [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.client_id.errors}">
      <option disabled selected value="{{data.message['Client']['id']}}">{{data.message['Client']['name']}}</option>
      <option *ngFor="let client of clients;" [value]="client['id']" class="bg-gray-800">
        {{client['name']}}
      </option>
    </select>

    <label class="leading-7 text-sm text-gray-400" for="plant_id">Stabilimento</label>
    <select (change)="select($event, 'plant_id')" [disabled]="!isClientSelected || !plants.length"
            class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            id="plant_id"
            [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.plant_id.errors}">
      <option disabled selected value="{{data.message['Plant']['id']}}">
        {{data.message['Plant']['city']}}, {{data.message['Plant']['address']}}</option>
      <option *ngFor="let plant of plants;" [value]="plant['id']" class="bg-gray-800">
        {{plant['city']}}, {{plant['address']}}
      </option>
    </select>

    <label class="leading-7 text-sm text-gray-400" for="name">Nome</label>
    <input
      class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      formControlName="name" id="name"
      type="text"
      [ngClass]="{'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-900' : submitted && form.name.errors}">
    <p class="text-red-500"
       *ngIf="submitted && form.name.errors">Questo campo è obbligatorio.</p>

    <label class="leading-7 text-sm text-gray-400" for="cost_center">Centro di costo</label>
    <input
      class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      formControlName="cost_center" id="cost_center"
      type="text">

    <label class="leading-7 text-sm text-gray-400" for="brand">Brand</label>
    <input
      class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      formControlName="brand" id="brand"
      type="text">

    <label class="leading-7 text-sm text-gray-400" for="model">Modello</label>
    <input
      class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      formControlName="model" id="model"
      type="text">

    <label class="leading-7 text-sm text-gray-400" for="production_year">Anno di produzione</label>
    <input
      class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      formControlName="production_year" id="production_year"
      type="text">

    <label class="leading-7 text-sm text-gray-400" for="robotic_island">Isola</label>
    <input
      class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      formControlName="robotic_island" id="robotic_island" maxlength="10"
      type="text">

    <label class="leading-7 text-sm text-gray-400" for="code">Codice</label>
    <input
      class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      formControlName="code" id="code" maxlength="10"
      type="text">

    <label class="leading-7 text-sm text-gray-400" for="serial_number">Numero seriale</label>
    <input
      class="h-[42px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      formControlName="serial_number" id="serial_number"
      type="text">

    <label class="leading-7 text-sm text-gray-400" for="description">Descrizione</label>
    <textarea
      class="h-[142px] w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-purple-900 focus:bg-transparent focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      formControlName="description" id="description"
      type="text"></textarea>
  </form>
</div>
<div align="end" class="flex space-x-4" mat-dialog-actions>
  <button (click)="onCancel()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Annulla
  </button>
  <button (click)="onConfirm()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Modifica
  </button>
</div>
